@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@




<div class="card font-size-8">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <span class="oi oi-bar-chart" aria-hidden="true"></span>
            Summary
        </li>
        <li class="list-group-item">
            <i class="fa fa-user" aria-hidden="true"></i>
            Profile
        </li>
        <li class="list-group-item">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            Address Book
        </li>
        <li class="list-group-item">
            <i class="fa fa-cart-plus" aria-hidden="true"></i>
            Your Orders
        </li>
    </ul>
</div>