@using myEcomerce.Views.Shared;

@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";

    PersonalInfo personalInfo = ViewData["info"] as PersonalInfo;

    var email_input = new _FormcontrolPartial
    {
        title = "Email",
        input_type = "email",
        placeholder = personalInfo.email
    };

    var firstname_input = new _FormcontrolPartial
    {
        title = "Firstname",
        placeholder = personalInfo.first_name
    };

    var lastname_input = new _FormcontrolPartial
    {
        title = "LastName",
        placeholder = personalInfo.last_name
    };

    var nickname_input = new _FormcontrolPartial
    {
        title = "Nickname",
        placeholder = personalInfo.nickname
    };

    var birthdate_input = new _FormcontrolPartial
    {
        title = "Birth Date",
        input_type = "date",
        placeholder = personalInfo.birthday
    };

    var facebook_input = new _FormcontrolPartial
    {
        title = "Facebook",
        input_type = "text",
        color = "primary",
        icon = "fab fa-facebook",
        placeholder = personalInfo.facebook
    };

    var twitter_input = new _FormcontrolPartial
    {
        title = "Twitter",
        input_type = "text",
        color = "info",
        icon = "fab fa-twitter",
        placeholder = personalInfo.twitter
    };

    var website_input = new _FormcontrolPartial
    {
        title = "Website",
        input_type = "text",
        icon = "fas fa-globe"
    };
    var oldpassword_input = new _FormcontrolPartial
    {
        title = "Old Password",
        input_type = "password",
        icon = "oi oi-lock-locked"
    };
    var newpassword_input = new _FormcontrolPartial
    {
        title = "Old Password",
        input_type = "password",
        icon = "oi oi-lock-locked"
    };
    var passwordconfirmation_input = new _FormcontrolPartial
    {
        title = "Password confirmation",
        input_type = "password",
        icon = "oi oi-lock-locked"
    };
}

<div class="container">
    <div class="row">
        <div class="col-md-2 pl-0">
            <partial name="_navigator">
        </div>
        <div class="col-md-10 pr-0">
            <h2>User Profile Information</h2>
            <hr class="border border-info bg-info" />
            <div>
                <img class="big-avartar" src="~/images/no-avatar.png">
                <span class="align-top h2 text-primary">User Name</span>
            </div>
            <form>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            @await Html.PartialAsync("_FormcontrolPartial", firstname_input)
                            @await Html.PartialAsync("_FormcontrolPartial", birthdate_input)
                            @await Html.PartialAsync("_FormcontrolPartial", nickname_input)
                            <div class="form-group">
                                <label for="user_firstname">Avartar</label>
                                <input type="file" class="btn-sm border border-secondary p-2  w-100">
                            </div>

                        </div>

                        <div class="col-md-4">
                            @await Html.PartialAsync("_FormcontrolPartial", lastname_input)
                            @await Html.PartialAsync("_FormcontrolPartial", email_input)
                            <div class="form-group">
                                <label for="user_firstname">Gender</label>
                                <select class="form-control border border-secondary" value="">
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <hr class="bg-light">
                    <div class="text-right">
                        <button class="btn btn-sm btn-success">
                            <span class="oi oi-clipboard"></span>
                            Update Profile
                        </button>
                    </div>
                </div>
            </form>
            <h3>Social Information</h3>
            <hr class="border border-info bg-info" />
            <form>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            @await Html.PartialAsync("_FormcontrolPartial", facebook_input)
                            @await Html.PartialAsync("_FormcontrolPartial", twitter_input)
                            @await Html.PartialAsync("_FormcontrolPartial", website_input)
                        </div>
                    </div>
                    <hr class="bg-light">
                    <div class="text-right">
                        <button class="btn btn-sm btn-success">
                            <span class="oi oi-clipboard"></span>
                            Update Profile
                        </button>
                    </div>
                </div>
            </form>
            <h3>Account Settings</h3>
            <hr class="border border-info bg-info" />
            <form>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            @await Html.PartialAsync("_FormcontrolPartial", oldpassword_input)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            @await Html.PartialAsync("_FormcontrolPartial", newpassword_input)
                        </div>
                        <div class="col-md-4">
                            @await Html.PartialAsync("_FormcontrolPartial", passwordconfirmation_input)
                        </div>
                    </div>
                    <hr class="bg-light">
                    <div class="text-right">
                        <button class="btn btn-sm btn-success">
                            <span class="oi oi-clipboard"></span>
                            Update Profile
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>