@using myEcomerce.Views.Shared;

@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";

    PersonalInfo personalInfo = ViewData["info"] as PersonalInfo;

    var email_input = new _FormcontrolPartial
    {
        title = "Email",
        input_type = "email",
        value = personalInfo.email,
        name = "email"
    };

    var firstname_input = new _FormcontrolPartial
    {
        title = "Firstname",
        value = personalInfo.first_name,
        name = "firstname"
    };

    var lastname_input = new _FormcontrolPartial
    {
        title = "LastName",
        value = personalInfo.last_name,
        name = "lastname"
    };

    var nickname_input = new _FormcontrolPartial
    {
        title = "Nickname",
        value = personalInfo.nickname,
        name = "nickname"
    };

    var facebook_input = new _FormcontrolPartial
    {
        title = "Facebook",
        input_type = "text",
        color = "primary",
        icon = "fab fa-facebook",
        value = personalInfo.facebook,
        name = "facebook"
    };

    var twitter_input = new _FormcontrolPartial
    {
        title = "Twitter",
        input_type = "text",
        color = "info",
        icon = "fab fa-twitter",
        value = personalInfo.twitter,
        name = "twitter"
    };

    var website_input = new _FormcontrolPartial
    {
        title = "Website",
        input_type = "text",
        icon = "fas fa-globe",
        value = personalInfo.website,
        name = "website"
    };
    var oldpassword_input = new _FormcontrolPartial
    {
        title = "Old Password",
        input_type = "password",
        icon = "oi oi-lock-locked",
        name = "oldpassword"
    };
    var newpassword_input = new _FormcontrolPartial
    {
        title = "New Password",
        input_type = "password",
        icon = "oi oi-lock-locked",
        name = "newpassword1"
    };
    var passwordconfirmation_input = new _FormcontrolPartial
    {
        title = "Password confirmation",
        input_type = "password",
        icon = "oi oi-lock-locked",
        name = "newpassword2"
    };

    string changePassword = (string)ViewData["changePassword"];
}

<div class="px-3">
    <div class="row">
        <div class="col-md-2 pl-0">
            <partial name="_navigator">
        </div>
        <div class="col-md-10 pr-0">
            <h2>User Profile Information</h2>
            <hr class="border border-info bg-info" />
            <div>
                <img class="big-avartar" src="@personalInfo.image.Substring(7)">
                <span class="align-top h2 text-primary">User Name</span>
            </div>
            <form action="/user/updateProfile/info" method="post" enctype="multipart/form-data">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            @await Html.PartialAsync("_FormcontrolPartial", firstname_input)
                            <div class="form-group">
                                    <label for="birth-date">Birth Date</label>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text text-white  border border-secondary bg-secondary">
                                                <small class="oi oi-menu"></small>
                                        </div>
                                    </div>
                                    <input type="date"
                                           class="form-control border border-secondary"
                                           id="birth-date"
                                           value="@personalInfo.birthday.ToString("yyyy-MM-dd")"
                                           name="birthday">
                                </div>
                            </div>
                            @await Html.PartialAsync("_FormcontrolPartial", nickname_input)
                            <div class="form-group">
                                <label for="label-avatar">Avartar</label>
                                <input type="file" id="label-avater" name="myavatar" class="btn-sm border border-secondary p-2  w-100">
                            </div>

                        </div>

                        <div class="col-md-4">
                            @await Html.PartialAsync("_FormcontrolPartial", lastname_input)
                            @await Html.PartialAsync("_FormcontrolPartial", email_input)
                            <div class="form-group">
                                <label for="user-gender">Gender</label>
                                <select id="user-gender" class="form-control border border-secondary" name="gender">
                                    @if (personalInfo.gender == "male")
                                    {
                                        <option value="male" selected="selected">Male</option>
                                    }
                                    else
                                    {
                                        <option value="male">Male</option>
                                    }
                                    @if (personalInfo.gender == "female")
                                    {
                                        <option value="female" selected="selected">Female</option>
                                    }
                                    else
                                    {
                                        <option value="female">Female</option>
                                    }

                                </select>
                            </div>
                        </div>
                    </div>
                    <hr class="bg-light">
                    <div class="text-right">
                        <button type="submit" class="btn btn-sm btn-success">
                            <span class="oi oi-clipboard"></span>
                            Update Profile
                        </button>
                    </div>
                </div>
            </form>
            <h3>Social Information</h3>
            <hr class="border border-info bg-info" />
            <form action="/user/updateProfile/social" method="post">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            @await Html.PartialAsync("_FormcontrolPartial", facebook_input)
                            @await Html.PartialAsync("_FormcontrolPartial", twitter_input)
                            @await Html.PartialAsync("_FormcontrolPartial", website_input)
                        </div>
                    </div>
                    <hr class="bg-light">
                    <div class="text-right">
                        <button type="submit" class="btn btn-sm btn-success">
                            <span class="oi oi-clipboard"></span>
                            Update Profile
                        </button>
                    </div>
                </div>
            </form>
            <h3>Account Settings</h3>
            <hr class="border border-info bg-info" />
            <form action="/user/updateProfile/password" method="post">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            @await Html.PartialAsync("_FormcontrolPartial", oldpassword_input)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            @await Html.PartialAsync("_FormcontrolPartial", newpassword_input)
                        </div>
                        <div class="col-md-4">
                            @await Html.PartialAsync("_FormcontrolPartial", passwordconfirmation_input)
                        </div>
                    </div>
                    <div>
                        @if(changePassword == null) { }
                        else if(changePassword == "success")
                        {
                            <p class="alert alert-success">The Password was changed successfully!</p>
                        }
                        else
                        {
                            <p class="alert alert-danger">@changePassword</p>
                        }
                    </div>
                    <hr class="bg-light">
                    <div class="text-right">
                        <button type="submit" class="btn btn-sm btn-success">
                            <span class="oi oi-clipboard"></span>
                            Update Profile
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>