
@{
    ViewData["Title"] = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int[] catagories = ViewData["catagories"] as int[];
}

<div class="px-3">
    <div class="row">
        <div class="col-md-2 pl-0">
            <partial name="_navigator">
        </div>
        <div class="col-md-10 pr-0">
            <h3>Summary</h3>
            <hr class="border border-info bg-info" />
            <div class="card">
                <div class="card-header">
                    You Orders
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="/user/orders"><span>All</span></a>
                        <span class="badge badge-secondary float-right">@catagories[0]</span>
                    </li>
                    <li class="list-group-item">
                        <a  href="/user/orders/open" ><span>Open Orders</span></a>
                        <span class="badge badge-secondary float-right">@catagories[1]</span>
                    </li>
                    <li class="list-group-item">
                        <a href="/user/orders/closed"><span>Closed Orders</span></a>
                        <span class="badge badge-secondary float-right">@catagories[2]</span>
                    </li>
                    <li class="list-group-item">
                        <a  href="/user/orders/canceled"><span>Canceled Orders</span></a>
                        <span class="badge badge-secondary float-right">@catagories[3]</span>
                    </li>
                </ul>
            </div>

        </div>


    </div>
    
</div>

