@using myEcomerce.Views.Shared;

@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Order_detail> order_cart = ViewData["cart"] as List<Order_detail>;
    List<Order_detail> order_later = ViewData["later"] as List<Order_detail>;

    int total = 0;
    foreach (Order_detail detail in order_cart)
    {
        total = total + Int32.Parse(detail.product.price) * detail.quantity;
    }
}


<div class="card mt-3">
    <div class="card-header">
        <span class="oi oi-cart"></span>
        <span>Your Shopping Cart</span>
    </div>
    <div class="card-body p-3">
        <span>Products in shopping cart @order_cart.Count() Items: $@total</span>
        <button class="btn btn-primary float-right">
            <span class="oi oi-credit-card"></span>
            Proceed to Checkout
        </button>
        <br /><br />
        <hr class="bg-light">
        <div class="container">
            <div class="row">
                @foreach (Order_detail detail in order_cart)
                {
                    var product = new _CartProductPartial()
                    {
                        type="cart",
                        detail_id = detail.id,
                        product_id=detail.product.id,
                        name = detail.product.name,
                        price = detail.product.price,
                        items = detail.quantity,
                        photo = "/images/product/" + detail.product.id + ".jpg"
                    };
                    <div class="col-lg-6 px-2">
                        @await Html.PartialAsync("_CartProductPartial", product)
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="card-footer">
        Prices and availability are subject to changes. Your wish list is a temporary place to keep your wished items, so these prices can be different from when they were added.
    </div>
</div>


<div class="card mt-3">
    <div class="card-header">
        <span class="oi oi-cart"></span>
        <span>Products were saved for later</span>
    </div>
    <div class="card-body p-3">
         <div class="container">
            <div class="row">
                @foreach (Order_detail detail in order_later)
                {
                    var product = new _CartProductPartial()
                    {
                        type="later",
                        detail_id = detail.id,
                        product_id = detail.product.id,
                        name = detail.product.name,
                        price = detail.product.price,
                        items = detail.quantity,
                        photo = "/images/product/" + detail.product.id + ".jpg"
                    };
                    <div class="col-lg-6 px-2">
                        @await Html.PartialAsync("_CartProductPartial", product)
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="card-footer">
        Prices and availability are subject to changes. Your wish list is a temporary place to keep your wished items, so these prices can be different from when they were added.
    </div>
</div>

