@model Info;

@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var index = Model.index;
}
<div class="">
    <h2>@Model.tabs[index]</h2>
    <hr class="border border-info bg-info" />
    <ul class="nav nav-tabs">
        @{
            for (int i = 0; i < 3; i++)
            {
                <li class="nav-item border-info">
                    <a class="nav-link @(i==index?"active": "")" href="/@Model.routes[i]">@Model.tabs[i]</a>
                </li>
            }
        }
    </ul>

    <div class="tabs-content p-3">
        <p> @Model.content </p>
    </div>
</div>



