@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["process"]</h2>

<div class="nav nav-tabs" id="myTab" >
    
        <a  data-toggle="tab" href="#home" >Home</a>
   
   
        <a  data-toggle="tab" href="#profile" >Profile</a>
   

        <a  data-toggle="tab" href="#messages" >Messages</a>


        <a  data-toggle="tab" href="#settings" >Settings</a>
 
</div>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="home" >home</div>
    <div class="tab-pane" id="profile" >profile</div>
    <div class="tab-pane" id="messages" >messages</div>
    <div class="tab-pane" id="settings" >settings</div>
</div>




